body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #020101;
    color: #dcdcdc;
    padding: 20px;
    text-align: center;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #a9a9a9;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  footer {
    background-color: #aaaaaa;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  